html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
}

body {
  background-color: #222222;
  font-family: 'Italianno', cursive;
  height: 100%;
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0px;
  line-height: 1.5;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

h1 {
    text-align: center;
    font-size: 70px;
    padding: 20px;
    font-family: 'Italianno', cursive;
    padding-left-bottom: 40px;
}

h3 {
  font-weight: 700;
  margin: 10px;
  font-size: 30px;
  text-align: center;
}

input {
  display: block;
  min-width: 400px;
  max-width: 800px;
  margin: 5px auto;
  border: 1px solid #33CCFF;
  font-size: 20px;
  font-family: inherit;
  letter-spacing: 2px;
}

form div {
  width: 400px;
  margin: 20px auto;
  text-align: center;
  font-size: 30px;
}

ol {
  list-style-type: decimal;
  margin-left: 25px;
}

ol, li {
  margin: 15px;
  list-style: none;
}

ul {
  text-decoration: none;
  text-align: center;
  font-size: 35px;
  margin: 20px;
}

.item {
  margin: 9px 15px;
  font-size: 30px;
  position: relative;
  letter-spacing: 1px;
}

#container {
  min-width: 400px;
  max-width: 800px;
  min-height: 50%;
  margin: 0px auto;
  padding: 0px 20px;
  background-color: #444444;
}

@-ms-viewport{
  width: device-width;
}

/* Portrait iPhone 6 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    
    body {
    width: 310px;
    font-size: 16px;
  }

  h1 {
    font-size: 60px;
  }

}

/* Landscape iPhone 6*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    
    body {
    width: 600px;
    font-size: 16px;
  }

  h1 {
    font-size: 60px;
  }
}

/* iPad */
@media only screen and (min-width: 768px) 
and (max-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
  
  body {
    width: 600px;
    font-size: 16px;
  }

  h1 {
    font-size: 90px;
  }

}

/* Non-Retina Screens */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    body {
    width: 920px;
    font-size: 16px;
  }

}

/*  Retina Screens  */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  
  body {
    width: 1020px;
    font-size: 16px;
  }

}

footer {
  background-color: transparent;
  font-family: "Latos";
  font-size: 12px;
  text-align: center;
}

